name: OpenRV Linux

on:
  workflow_call:
    inputs:
      skip_deps_cache:
        type: string
        default: 'false'
      qt5_modules:
        type: string
      vfx_platforms:          # replaces run_cy2023
        type: string
        default: '["CY2024"]'

env:
  SKIP_DEPS_CACHE: ${{ inputs.skip_deps_cache }}
  QT5_MODULES: ${{ inputs.qt5_modules }}
  ROCKY_QT5_ARCHIVES: 'icu qt3d qtbase qtconnectivity qtdeclarative qtgraphicaleffects qtimageformats qtlocation qtmultimedia qtquickcontrols qtquickcontrols2 qtremoteobjects qtscxml qtsensors qtsvg qttools qttranslations qtwayland qtwebchannel qtwebsockets qtwebview qtx11extras qtxmlpatterns'
  ROCKY_QT6_MODULES: 'debug_info qt3d qt5compat qtcharts qtconnectivity qtdatavis3d qtgrpc qthttpserver qtimageformats qtlanguageserver qtlocation qtlottie qtmultimedia qtnetworkauth qtpdf qtpositioning qtquick3d qtquick3dphysics qtquickeffectmaker qtquicktimeline qtremoteobjects qtscxml qtsensors qtserialbus qtserialport qtshadertools qtspeech qtvirtualkeyboard qtwaylandcompositor qtwebchannel qtwebengine qtwebsockets qtwebview'
  ROCKY_QT6_ARCHIVES: 'icu qtbase qtdeclarative qtsvg qttools qttranslations qtwayland'

jobs:
  rocky-linux:
    #if : ${{ github.repository_owner == 'AcademySoftwareFoundation' }}
    name: 'Rocky Linux ${{ matrix.rocky-version }} ${{ matrix.vfx-platform }}
      <qt=${{ matrix.qt-version }},
       python=${{ matrix.python-version }},
       cmake=${{ matrix.cmake-version }},
       arch=${{ matrix.arch-type }},
       config=${{ matrix.build-type }}>'

    runs-on: ${{ matrix.os }}
    container:
      image: ${{ matrix.image }}
      volumes:
        - /usr/local/lib/android:/github/home/android
        - /usr/share/dotnet:/github/home/dotnet
        - /opt/ghc:/github/home/ghc
        - /usr/local/.ghcup:/github/home/.ghcup
        - /usr/local/graalvm:/github/home/graalvm
        - /usr/local/share/powershell:/github/home/powershell
        - /usr/local/share/chromium:/github/home/chromium
        - /usr/local/lib/node_modules:/github/home/node_modules
        - /opt/hostedtoolcache/CodeQL:/github/home/CodeQL
        - /usr/local/share/boost:/github/home/boost
    strategy:
      fail-fast: false
      matrix:
        vfx-platform: ${{ fromJSON(inputs.vfx_platforms) }}
        build-type: ["Release", "Debug"]  # narrow with run_debug input if needed
        rocky-version: ["8", "9"]
        include:
          - rocky-version: "8"
            os: ubuntu-latest
            image: amd64/rockylinux:8
            arch-type: x86_64
            extra_repo: powertools
          - rocky-version: "9"
            os: ubuntu-latest
            image: amd64/rockylinux:9
            arch-type: x86_64
            extra_repo: crb
          - os: ubuntu-latest
            vfx-platform: CY2023
            qt-version: "5.15.2"
            cmake-version: "3.31.6"
            python-version: "3.10"
          - os: ubuntu-latest
            vfx-platform: CY2024
            qt-version: "6.5.3"
            cmake-version: "3.31.6"
            python-version: "3.11.8"
            
    steps:
      - name: Display disk space
        run: |
          df -h /

      - name: Clear up some spaces on disk
        run: |
          # Delete files from host through the volumes
          # It will have some "cannot remove" message, but but atleast 10GB will be cleared.
          rm -rf /github/home/android || true
          rm -rf /github/home/dotnet || true
          rm -rf /github/home/ghc || true
          rm -rf /github/home/.ghcup || true
          rm -rf /github/home/graalvm || true
          rm -rf /github/home/powershell || true
          rm -rf /github/home/chromium || true
          rm -rf /github/home/node_modules || true
          rm -rf /github/home/CodeQL || true
          rm -rf /github/home/boost || true

      - name: Display disk space
        run: |
          df -h /

      - name: Install system dependencies
        run: |
          retry_count=0
          max_retries=5

          until [ $retry_count -ge $max_retries ]; do
            echo "Attempt $((retry_count + 1)) of $max_retries"

            if dnf install -y epel-release && \
               dnf config-manager --set-enabled ${{ matrix.extra_repo }} devel && \
               dnf groupinstall "Development Tools" -y && \
               dnf install -y alsa-lib-devel autoconf automake avahi-compat-libdns_sd-devel bison bzip2-devel cmake-gui curl-devel flex gcc gcc-c++ git libXcomposite libXi-devel libaio-devel libffi-devel nasm ncurses-devel nss libtool libxkbcommon libXcomposite libXdamage libXrandr libXtst libXcursor mesa-libOSMesa mesa-libOSMesa-devel meson openssl-devel patch pulseaudio-libs pulseaudio-libs-glib2 ocl-icd ocl-icd-devel opencl-headers qt5-qtbase-devel readline-devel sqlite-devel systemd-devel tcl-devel tcsh tk-devel yasm zip zlib-devel wget patchelf pcsc-lite libxkbfile perl-IPC-Cmd && \
               dnf install -y libX11-devel libXext-devel libXrender-devel libXrandr-devel libXcursor-devel libXi-devel libXxf86vm-devel libxkbcommon-devel && \
               dnf install -y xz-devel mesa-libGLU mesa-libGLU-devel && \
               dnf clean all; then
              echo "Dependencies installed successfully"
              break
            else
              retry_count=$((retry_count + 1))
              if [ $retry_count -lt $max_retries ]; then
                echo "Attempt $retry_count failed. Retrying in 5 seconds..."
                sleep 5
              fi
            fi
          done

          if [ $retry_count -ge $max_retries ]; then
            echo "Failed to install dependencies after $max_retries attempts"
            exit 1
          fi

      - name: Install other system dependencies
        if: ${{ matrix.rocky-version == '9' }}
        run: |
          retry_count=0
          max_retries=5

          until [ $retry_count -ge $max_retries ]; do
            echo "Attempt $((retry_count + 1)) of $max_retries"

            if dnf install -y perl-CPAN && \
              cpan FindBin; then
              echo "Dependencies installed successfully"
              break
            else
              retry_count=$((retry_count + 1))
              if [ $retry_count -lt $max_retries ]; then
                echo "Attempt $retry_count failed. Retrying in 5 seconds..."
                sleep 5
              fi
            fi
          done

          if [ $retry_count -ge $max_retries ]; then
            echo "Failed to install dependencies after $max_retries attempts"
            exit 1
          fi

      - name: Install GCC 11 toolchain for Rocky Linux 8
        if: ${{ matrix.rocky-version == '8' }}
        run: |
          retry_count=0
          max_retries=5

          until [ $retry_count -ge $max_retries ]; do
            echo "Attempt $((retry_count + 1)) of $max_retries"

            if dnf install -y gcc-toolset-11-toolchain; then
              echo "GCC 11 toolchain installed successfully"
              break
            else
              retry_count=$((retry_count + 1))
              if [ $retry_count -lt $max_retries ]; then
                echo "Attempt $retry_count failed. Retrying in 5 seconds..."
                sleep 5
              fi
            fi
          done

          if [ $retry_count -ge $max_retries ]; then
            echo "Failed to install GCC 11 toolchain after $max_retries attempts"
            exit 1
          fi

      - name: Enable GCC 11 toolchain for Rocky Linux 8
        if: ${{ matrix.rocky-version == '8' }}
        run: |
          source /opt/rh/gcc-toolset-11/enable
          echo "/opt/rh/gcc-toolset-11/root/usr/bin" >> $GITHUB_PATH
          echo "CC=/opt/rh/gcc-toolset-11/root/usr/bin/gcc" >> $GITHUB_ENV
          echo "CXX=/opt/rh/gcc-toolset-11/root/usr/bin/g++" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" >> $GITHUB_ENV
          gcc --version
          g++ --version

      - name: Check out repository code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # 4.1.7
        with:
          submodules: recursive

      - name: Add repository as safe directory
        run: |
          git config --global --add safe.directory /__w/OpenRV/OpenRV

      - name: Install pyenv
        run: |
          curl https://pyenv.run | bash

          export PYENV_ROOT="$HOME/.pyenv"
          echo "$PYENV_ROOT/shims" >> $GITHUB_PATH
          echo "$PYENV_ROOT/bin" >> $GITHUB_PATH

      - name: Setup pyenv
        run: |
          echo $PATH
          pyenv install ${{ matrix.python-version }}
          pyenv global ${{ matrix.python-version }}

      - name: Display Python installation location
        run: |
          python -c "import sys; print(sys.executable)"

      - name: Install Ninja
        run: |
          wget https://github.com/ninja-build/ninja/releases/download/v1.12.1/ninja-linux.zip
          unzip ninja-linux.zip -d ./ninja
          echo "$(pwd)/ninja" >> $GITHUB_PATH
          ninja --version

      - name: Install CMake
        run: |
          curl -SL -o cmake.tar.gz https://github.com/Kitware/CMake/releases/download/v${{ matrix.cmake-version }}/cmake-${{ matrix.cmake-version }}-Linux-x86_64.tar.gz
          tar -xzf cmake.tar.gz
          ls
          mv cmake-${{ matrix.cmake-version }}-linux-x86_64 ./cmake-${{ matrix.cmake-version }}
          echo "$(pwd)/cmake-${{ matrix.cmake-version }}/bin" >> $GITHUB_PATH

      - name: Prepare Qt folder
        run: |
          mkdir -p "${{ github.workspace }}/deps"

      - name: Install Qt ${{ matrix.qt-version }}
        if: ${{ matrix.vfx-platform == 'CY2023' }}
        uses: jurplel/install-qt-action@v4
        with:
          version: '${{ matrix.qt-version }}'
          host: 'linux'
          target: 'desktop'
          arch: 'gcc_64'
          dir: "${{ github.workspace }}/deps"
          install-deps: 'false'
          modules: ${{ env.QT5_MODULES }}
          archives: ${{ env.ROCKY_QT5_ARCHIVES }}
          # Caching only save 2 minutes. Keep the cache for longer operations.
          cache: false
          setup-python: 'false'
          tools: 'tools_qtcreator'
          set-env: 'true'
          tools-only: 'false'
          aqtversion: '==3.2.*'

      - name: Install Qt ${{ matrix.qt-version }}
        if: ${{ matrix.vfx-platform == 'CY2024' }}
        uses: jurplel/install-qt-action@v4
        with:
          version: '${{ matrix.qt-version }}'
          host: 'linux'
          target: 'desktop'
          arch: 'gcc_64'
          dir: "${{ github.workspace }}/deps"
          install-deps: 'false'
          modules: ${{ env.ROCKY_QT6_MODULES }}
          archives: ${{ env.ROCKY_QT6_ARCHIVES }}
          # Caching only save 2 minutes. Keep the cache for longer operations.
          cache: false
          setup-python: 'false'
          tools: 'tools_qtcreator'
          set-env: 'true'
          tools-only: 'false'
          aqtversion: '==3.2.*'

      - name: Install Python dependencies
        run: |
          python3 -m pip install --user --upgrade -r requirements.txt

      - name: Install Rust toolchain
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Verify Rust installation
        run: |
          source $HOME/.cargo/env
          rustc --version
          cargo --version

      # For Rocky Linux, we can't cache the dependencies of Open RV
      # because there is not enough room in the cache (10GB limit) for all platforms.
      # ccache is used for this run only (not stored in Actions cache) to speed up the build.
      # Let's revisit this if we can reduce the size of the cache (potentially dropping x86_64 for Mac)
      # or by moving some dependencies from the cache to Conan or another dependency manager.
      - name: Install ccache
        run: |
          dnf install -y ccache

      # Uncomment to persist ccache in Actions cache (uses repo 10GB limit).
      # - name: Setup ccache
      #   uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639
      #   with:
      #     key: rocky-${{ matrix.rocky-version }}-${{ matrix.vfx-platform }}-${{ matrix.build-type }}
      #     max-size: 2G
      #     verbose: 2

      - name: Configure OpenRV
        if: ${{ matrix.vfx-platform == 'CY2023' }}
        run: |
          cmake --version
          export QT_HOME=/__w/OpenRV/OpenRV/deps/Qt/${{ matrix.qt-version}}/gcc_64
          cmake -B _build -G "Ninja" -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DRV_DEPS_QT_LOCATION=$QT_HOME -DRV_VFX_PLATFORM=${{ matrix.vfx-platform }}

      - name: Configure OpenRV
        if: ${{ matrix.vfx-platform == 'CY2024' }}
        run: |
          cmake --version
          export QT_HOME=/__w/OpenRV/OpenRV/deps/Qt/${{ matrix.qt-version}}/gcc_64
          cmake -B _build -G "Ninja" -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} -DRV_DEPS_QT_LOCATION=$QT_HOME -DRV_VFX_PLATFORM=${{ matrix.vfx-platform }}

      - name: Build OpenRV dependencies
        run: |
          cmake --build _build --config ${{ matrix.build-type }} --target dependencies --parallel=$(python -c 'import os; print(os.cpu_count())') -v

      - name: Build OpenRV main executable
        run: |
          cmake --build _build --config ${{ matrix.build-type }} --target main_executable --parallel=$(python -c 'import os; print(os.cpu_count())') -v

      - name: Tests
        run: |
          ctest --test-dir _build -C ${{ matrix.build-type }} --extra-verbose

      - name: Free some spaces for the install steps
        run: |
          rm -rf _build/RV_DEPS_*
          rm -rf _build/_deps

      - name: Install OpenRV
        run: |
          cmake --install _build --prefix $(pwd)/_install --config ${{ matrix.build-type }}
