name: OpenRV

on:
  push:
    branches:
      # This will run when PR is merged or direct pushes to main.
      - main

  pull_request: # This handles PR creation and subsequent commits.

  schedule:
    # Midnight build every day
    - cron: "0 0 * * *"

  # This allows manual triggering of the workflow from the web
  workflow_dispatch:
    inputs:
      SKIP_DEPS_CACHE:
        description: 'Skip dependencies caching'
        required: true
        default: 'false'

jobs:
  linux:
    uses: ./.github/workflows/ci-linux.yml
    with:
      skip_deps_cache: ${{ inputs.SKIP_DEPS_CACHE || 'false' }}
      qt5_modules: 'debug_info qtcharts qtdatavis3d qtlottie qtnetworkauth qtquick3d qtquicktimeline qtscript qtwebengine qtwebglplugin'

  macos:
    uses: ./.github/workflows/ci-macos.yml
    with:
      skip_deps_cache: ${{ inputs.SKIP_DEPS_CACHE || 'false' }}
      qt5_modules: 'debug_info qtcharts qtdatavis3d qtlottie qtnetworkauth qtquick3d qtquicktimeline qtscript qtwebengine qtwebglplugin'

  windows:
    uses: ./.github/workflows/ci-windows.yml
    with:
      skip_deps_cache: ${{ inputs.SKIP_DEPS_CACHE || 'false' }}
      qt5_modules: 'debug_info qtcharts qtdatavis3d qtlottie qtnetworkauth qtquick3d qtquicktimeline qtscript qtwebengine qtwebglplugin'
