name: OpenRV

on:
  push:

  pull_request: # This handles PR creation and subsequent commits.

  
jobs:
  macos:
    name: bob
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: "macos-14"
            arch-type: "arm64"
            build-type: "Release"
            qt-version: "6.5.3"
            qt-version-short: "6.5"
            python-version: "3.11"
            cmake-version: "3.31.6"
            vfx-platform: "CY2024"
    steps:
      - name: Display disk space
        run: |
          df -h /
          
      - name: Clear up some spaces on disk
        run: |
          # Remove some unused XCode (Default is XCode 15.4).
          sudo rm -rf /Applications/Xcode_15.3.app
          sudo rm -rf /Applications/Xcode_15.2.app
          sudo rm -rf /Applications/Xcode_15.1.app
          sudo rm -rf /Applications/Xcode_15.0.1.app
          sudo rm -rf /Users/runner/Library/Android

      - name: Display disk space
        run: |
          df -h /

      - name: Check out repository code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # 4.1.7
        with:
          submodules: recursive
          
      - name: Activate Python ${{ matrix.python-version }}
        uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # 5.2.0
        with:
          python-version: '${{ matrix.python-version }}'

      - name: Build Qt
        if: matrix.arch-type == 'arm64'
        id: build-qt6
        uses: ./.github/actions/build-qt6
        with:
          qt-version: "6.5.3"
          python3-version: "3.11.9"
          python2-version: "2.7.18"
          xcode-version: "14.3.1"
